.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1.5s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(2rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0rem);
    }
  }

.MealsLoading{
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  color:white;
}
.MealsError{
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  color:red;
}